{% extends 'layout.twig' %}
{% block title %}
    Tournament events
{% endblock %}

{% block content_header %}

    <div class="alert alert-danger alert-dismissible" id="error-message" style="display: none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-check"></i> Error</h4>
        <span id="error-text"></span>
    </div>

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title" style="width: 100%">Tournament information</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                <label for="tournament_name">Name <span style="color: red">*</span></label>
                <input name="name" type="text" required class="form-control" id="tournament_name" placeholder="Name of tournament">
            </div>

            <div class="form-group">
                <label for="reg_start">Registration opens <span style="color: red">*</span></label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input name="reg_start" class="form-control" id="reg_start" type="text">
                </div>
            </div>

            <div class="form-group">
                <label for="reg_deadline">Registration deadline <span style="color: red">*</span></label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input name="reg_deadline" class="form-control" id="reg_deadline" type="text">
                </div>
            </div>

            <div class="form-group">
                <label for="drop_deadline">Drop deadline <span style="color: red">*</span></label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input name="drop_deadline" class="form-control" id="drop_deadline" type="text">
                </div>
            </div>

            <div class="form-group">
                <label for="approve_method">Approval method <span style="color: red">*</span></label>
                <select name="approve_method" id="approve_method" class="form-control">
                    <option value="0">Auto</option>
                    <option value="1">Manually</option>
                </select>
            </div>

            <div class="form-group">
                <label for="double_entry">Double entry allowed <span style="color: red">*</span></label>
                <select name="double_entry" id="double_entry" class="form-control">
                    <option value="0">No</option>
                    <option selected value="1">Yes</option>
                </select>
            </div>

            <div class="form-group">
                <label for="private">Private tournament (only members in specified groups can register) <span style="color: red">*</span></label>
                <select onchange="showGroups(this.value)" name="private" id="private" class="form-control">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>

            <div id="groups" style="display: none" class="form-group">
                <label>Groups</label>
                {% for group in groups %}
                    <div>
                        <input class="required_checkbox" type="checkbox" id="group_{{ group.id }}" name="groups[]" value="{{ group.id }}">
                        <label style="font-weight: normal;" for="group_{{ group.id }}">{{ group.name }}</label>
                    </div>
                {% endfor %}
            </div>

            <div class="form-group">
                <label for="start_date">Tournament start date <span style="color: red">*</span></label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input name="start_date" class="form-control" id="start_date" type="text">
                </div>
            </div>

            <div class="form-group">
                <label for="end_date">Tournament end date <span style="color: red">*</span></label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input name="end_date" class="form-control" id="end_date" type="text">
                </div>
            </div>

            <div class="form-group">
                <label for="description">Tournament description</label>
                <textarea id="description" class="form-control" name="description"></textarea>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <button onclick="addNewDebate()" class="btn btn-primary"><i class="fa fa-plus"></i> Add new event</button>

    <div id="fields" style="margin-top: 20px"></div>

    <button onclick="saveFields()" class="btn btn-success btn-block"><i class="fa fa-plus"></i> Create tournament</button>

    <script type="text/html" id="debate-template">
        <form id="dt_$1">
            <div class="panel panel-default">
                <div class="panel-body" style="padding-bottom: 0">

                    <div class="form-group">
                        <label for="dt_name">Name <span style="color: red">*</span></label>
                        <input required name="dt_name" id="dt_name" class="form-control" type="text" />
                    </div>

                    <div class="form-group">
                        <label for="dt_type">Type</label>
                        <select name="dt_type" id="dt_type" class="form-control">
                            <option value="0">Single</option>
                            <option value="1">With partner</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="dt_cost">Cost <span style="color: red">*</span></label>
                        <input required name="dt_cost" id="dt_cost" type="number" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="dt_drop_cost">Drop fine after deadline <span style="color: red">*</span></label>
                        <input required name="dt_drop_cost" id="dt_drop_cost" type="number" class="form-control" />
                    </div>

                    <button type="button" onclick="removeField(this)" class="btn btn-danger" style="margin-bottom: 15px"><i class="fa fa-remove"></i> Remove field</button>
                </div>
            </div>
        </form>
    </script>
{% endblock %}

{% block javascript %}
    <script src="/assets/js/jquery.inputmask.bundle.min.js"></script>
    <script>
        $('#reg_start').inputmask('mm/dd/yyyy');
        $('#reg_deadline').inputmask('mm/dd/yyyy');
        $('#drop_deadline').inputmask('mm/dd/yyyy');
        $("#start_date").inputmask('mm/dd/yyyy');
        $("#end_date").inputmask('mm/dd/yyyy');
    </script>

    <script>
        var fields_count = 0;

        String.prototype.replaceAll = function(search, replacement) {
            var target = this;
            return target.replace(new RegExp(search, 'g'), replacement);
        };

        function showGroups(val)
        {
            if (val == 0)
            {
                $("#groups").hide();
            }
            else
            {
                $("#groups").show();
            }
        }

        function addNewDebate()
        {
            var field_template = $("#debate-template").html().replaceAll(/\$1/, fields_count);
            $("#fields").append(field_template);
            $('html, body').animate({
                scrollTop: $("#dt_" + fields_count).offset().top - 25
            }, 1000);
            fields_count++;
        }

        function removeField(object)
        {
            // check if persisted field
            $(object).parent().parent().parent().remove();
        }

        function saveFields()
        {
            var fields = [];
            $("#fields").children().each(function() {
                var id = $(this).data('id');
                var data = _serializeToObject($(this).serializeArray());
                data["id"] = id;
                fields.push(data);
            });

            if (fields.length == 0)
            {
                showError('You must create at least one event!');
                return;
            }

            var private = $("#private").val();
            if (private == 1 && !checkboxes_validate())
            {
                return;
            }

            var groups = [];
            if (private == 1)
            {
                $("#groups input:checked").each(function() {
                    groups.push($(this).val());
                });
            }

            var tournament_name = $("#tournament_name").val();
            var reg_start = $("#reg_start").val();
            var reg_deadline = $("#reg_deadline").val();
            var drop_deadline = $("#drop_deadline").val();
            var approve_method = $("#approve_method").val();
            var double_entry = $("#double_entry").val();
            $.post(window.location, {
                name: tournament_name,
                reg_start: reg_start,
                reg_deadline: reg_deadline,
                drop_deadline: drop_deadline,
                approve_method: approve_method,
                events: fields,
                start_date: $("#start_date").val(),
                end_date: $("#end_date").val(),
                description: $("#description").val(),
                private: private,
                groups: groups,
                double_entry: double_entry
            }, function(response) {
                window.location = '/admin/tournament/edit/' + response.id; // refresh page scroll
            }, 'json');
        }

        function checkboxes_validate()
        {
            var status = true;
            // validate checkboxes
            var required_checkboxes = [];
            $(".required_checkbox").each(function() {
                if (required_checkboxes.indexOf($(this)[0].name) == -1)
                {
                    required_checkboxes.push($(this)[0].name);
                }
            });

            required_checkboxes.forEach(function(item) {
                var item_accessor = $("input[name='"+ item +"']");
                item_accessor.parent().parent().removeClass('has-error');
                if ($("input[name='"+ item +"']:checked").length == 0)
                {
                    item_accessor.parent().parent().addClass('has-error');
                    status = false;
                    $('html, body').animate({
                        scrollTop: item_accessor.offset().top - 25
                    }, 100);
                    return;
                }
            });

            return status;
        }

        function showError(message)
        {
            var em = $("#error-message");
            em.hide();
            $("#error-text").html(message);
            em.show();
            $('html, body').animate({
                scrollTop: em.offset().top - 25
            }, 1000);
        }

        function _serializeToObject(data)
        {
            var object = {};
            data.forEach(function(item) {
                object[item.name] = item.value;
            });
            return object;
        }
    </script>
{% endblock %}